<!DOCTYPE html>
<html>
<head>
    <title>Chat with Server</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <img src="{{ url_for('static', filename='images/logo_good_snowflake.png') }}" alt="Logo" id="logo">
    <div class="chat-container">
        <button type="button" id="clearBtn">נקה צ'אט</button>
        <div id="chat-history">
            <!-- Chat history will be displayed here -->
        </div>
        <form id="chatForm">
            <!-- TOOD: move user state to local storage. it is kept here only for easier dev and debug purpose -->
            <input type="hidden" id="userState" name="userState" value="initial state">
            <input type="text" id="messageInput" placeholder="כתבו משהו..." required>
            <button type="submit">שלח</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
